body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.focus{
    font-size: 50px;
    font-weight: 900;
}
.color{
    color:crimson;
}

.side-line{
   border-left-style:  solid;
   border-left-color: rgb(7, 179, 58);
}
.button{
    background-color:rgb(26, 160, 194);
    border:none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
  }
    
       
.section{
    display:flex;
    margin:10%;
  
}

.half-width{
    width:50%;
    padding-left:15px;
}
.half-width img{
    width:400px;
} 


.algin{
    text-align: center;
}

span{
    color:salmon;
}
.first-mission{
    text-align: center;
    margin-top: 50px;
}
span{
    color:crimson;
}
.goal{
    text-align: center;
    font-size: 50px;
    font-weight:bolder;
    font-weight: 900;
}


.mission-1{
    width:250px;
    border:1px solid gray;
    background-color:rgb(151, 111, 111);
    border-radius: 10px;
    padding:50px;
   
}
   

.mission-2{
    width:250px;
    border:1px solid gray;
    background-color:rgb(167, 159, 159);
    border-radius: 10px;
    padding:50px;
   
    
}
.mission-3{
    width:250px;
    border:1px solid gray;
    background-color:rgb(80, 65, 65);
    border-radius: 10px;
    padding:50px;
   
}

.div-img img{
  width:100%;
}
.first-mission{
    display:flex;
    justify-content: space-around;
    padding:80px;
}
.size-card{
    padding-left:5px;
    text-align: left;
}
    .self-development{
        display:flex;
        
        background-image: url(mission-2022-main/images/shapes/shape-3.png);
        background-repeat: no-repeat;
        
       
        
      

    }
.p-and-button{
    text-align: left;
    margin-left: 10%;
}
.button1{
    background-color:rgb(26, 160, 194);
    border:none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    
  
    

}
.half-img2 img{
    width:450px;
    border-radius: 10px;
}
footer{
    text-align: center;
    border-color: black;
    background-color: black;
    height:200%;
    padding:30px;
    margin-top: 100px;
    
    
}
.end{
    color:white;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;

}
.end1{
    color:white;
}
.twenty-two{
    color:coral;
    font-family: fantasy;
    font-weight: 400;
}


