body{
    font-family: 'Poppins', sans-serif;
}
.color{
    color:crimson;
}
.button{
    background-color:rgb(2, 71, 136);
    border:none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
    
       
.section{
    display:flex;
}
.half-width{
    width:50%;
    padding-left:15px;
}
.half-width img{
    width:450px;
} 
.section-card{
    text-align:center;
   font-size: 20px;
  
   
}  

.algin{
    text-align: center;
}

span{
    color:salmon;




